<ngb-accordion activeIds="ngb-panel-0">
  <ngb-panel *ngFor="let map of Maps">
    <ng-template ngbPanelHeader>
      <button ngbPanelToggle class="btn header-btn">
        <div class="row">
          <div class="column">
            {{map.Name}}
          </div>
          <div class="column">

          </div>
        </div>
      </button>
    </ng-template>
    <ng-template ngbPanelContent>
      <app-site-selection [Sites]="map.Sites"></app-site-selection>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
