<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Bind">
    <ng-template ngbPanelContent>
      <app-site-selection></app-site-selection>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Haven">
    <ng-template ngbPanelContent>
      <app-site-selection></app-site-selection>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Split">
    <ng-template ngbPanelContent>
      <app-site-selection></app-site-selection>
    </ng-template>
  </ngb-panel>
  <ngb-panel title="Ascent">
    <ng-template ngbPanelContent>
      <app-site-selection></app-site-selection>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
