<div class="row">
  <div class="column" [@ExpandTrigger]="IsWhereToBeExpanded == 1 ? 'Expanded' : IsWhereToBeExpanded == -1 ? 'Shrinked' : 'NotExpanded'">
    <div class="WhereToBe" (click)="WhereToBeClicked()">
      <app-shot-description [Shot]="Site[0].WhereToBe"></app-shot-description>
    </div>
  </div>
  <div class="column" [@ExpandTrigger]="IsWhereToLookExpanded == 1 ? 'Expanded' : IsWhereToLookExpanded == -1 ? 'Shrinked' : 'NotExpanded'">
    <div class="WhereToLook" (click)="WhereToLookClicked()">
      <app-shot-description [Shot]="Site[0].WhereToLook"></app-shot-description>
    </div>
  </div>
    <div class="column" [@ExpandTrigger]="isShotResultExpanded == 1 ? 'Expanded' : isShotResultExpanded == -1 ? 'Shrinked' : 'NotExpanded'">
    <div class="ShotResult" (click)="ShotResultClicked()">
      <app-shot-description [Shot]="Site[0].ShotResult"></app-shot-description>
    </div>
  </div>
</div>
